<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>GeoClient</string>
    <key>CFBundleIdentifier</key>
    <string>at.wrk.fmd.cocemocl.geoclient</string>
    <key>CFBundleVersion</key>
    <string>1.2.3</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>GeoClient</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>Please allow access to the camera to scan barcodes</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>GeoClient needs access to the location data in the background to send correct location data</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>GeoClient needs access to the location data in the background to send correct location data</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>GeoClient needs access to the location data in the background to send correct location data</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2.3</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
</dict>
</plist>
